# vim: ts=4 sts=4 sw=4 expandtab colorcolumn=100 tw=100
#                         ###                  
#                       ### ###                
#               #######################        
#               ##     ##     ##     ##        
#               ##    ##       ##    ##        
#               ##   ##         ##   ##        
#              ###  ##           ##  ###       
#            ##### ##             ## #####     
#          #########               #########   
#        #########                   ######### 
#          #######                   #######   
#            #####                   #####     
#              ###                   ###       
#               ##                   ##        
#               #######################        
#                   ###############            
#                     ###########              
#                       #######                
#                         ###                  
#   ___  ___  ___ ___ _____ ___  ___  _  _   _______  
#  | _ \/ _ \/ __|_ _|_   _| _ \/ _ \| \| | |__ /   \ 
#  |  _/ (_) \__ \| |  | | |   / (_) | .` |  |_ \ |) |
#  |_|  \___/|___/___| |_| |_|_\\___/|_|\_| |___/___/ 
#

[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
serial: /dev/serial/by-id/usb-Klipper_rp2040_4D4E3831310EA187-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   LDO Positron Toolhead PCB
#####################################################################

[mcu pth]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_5A0023000A50315058393320-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Printer Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 420
max_accel: 16000
square_corner_velocity: 7
max_z_velocity: 20
max_z_accel: 2500

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: gpio14
dir_pin: !gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 185
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.7
stealthchop_threshold: 999999
diag_pin: ^gpio16
driver_SGTHRS: 50                                          # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
sense_resistor: 0.110

[stepper_y]
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 180
position_max: 180
homing_speed: 40
homing_positive_dir: True

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.7
stealthchop_threshold: 999999
diag_pin: ^gpio25
driver_SGTHRS: 50                                         # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
sense_resistor: 0.110

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 64
rotation_distance: 40
gear_ratio: 75:10
# endstop_pin: probe:z_virtual_endstop
endstop_pin: probe:z_virtual_endstop
# endstop_pin: gpio3
# position_endstop: 0.0 # ???
# position_endstop: 14.0
position_min: -4.0
position_max: 165
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.4
stealthchop_threshold: 0
#run_current: 0.25
#stealthchop_threshold: 999999                                          # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
sense_resistor: 0.110

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: gpio11
dir_pin: gpio10
enable_pin: !gpio12
microsteps: 16
full_steps_per_rotation: 200
# rotation_distance: 4.582056 # Tuned on 2025/10/05 by Lyude
rotation_distance: 4.637
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: pth:PA7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: pth:PB0
pullup_resistor: 2200
#control: pid
#pid_Kp: 25.12
#pid_Ki: 1.073
#pid_Kd: 147
min_temp: -100
max_temp: 300
full_steps_per_rotation: 200
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section:2
pressure_advance: 0.25

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.72
hold_current: 0.4
sense_resistor: 0.110

#####################################################################
#   Bed Heater
#####################################################################

[thermistor SDNT2012X104_3950]
temperature1: 25
resistance1: 100000
beta: 3950

[heater_bed]
heater_pin: gpio21
sensor_type: SDNT2012X104_3950
sensor_pin: gpio26
pwm_cycle_time: 0.3
max_power: 1.0
#control: pid
#pid_Kp: 56.852
#pid_Ki: 2.1
#pid_Kd: 383.75
min_temp: 0
max_temp: 120

#####################################################################
#   Probe
#####################################################################

########################### ads1220 #############################

[load_cell_probe]
sensor_type: ads1220
cs_pin: pth:PA9
spi_speed: 512000
spi_software_sclk_pin: pth:PB13
spi_software_mosi_pin: pth:PB11
spi_software_miso_pin: pth:PB2
gain: 128
pga_bypass: false
sample_rate: 660
input_mux: AIN1_AIN2
vref: analog_supply
data_ready_pin: pth:PB1
#pullback_distance: 0.3

x_offset:0
y_offset: 0
z_offset: 0
speed: 2
samples: 1
sample_retract_dist: 0.8
samples_tolerance: 0.05
samples_result: median

[z_thermal_adjust nozzle]
temp_coeff: -0.00044912 # After tightening at 
#temp_coeff: -0.00050214 # TODO: Calibrate me, user.
sensor_type: temperature_combined
sensor_list: extruder
combination_method: max
min_temp: 0
max_temp: 400
maximum_deviation: 1
max_z_adjustment: 0.5

#####################################################################
#  Dental hygiene
#####################################################################
[nozzle_cleanup]

## Bed screw adjustment using the loadcell
[screws_tilt_adjust]
screw1: 90,10
screw1_name: rear
screw2: 5,137
screw2_name: left
screw3: 180,137
screw3_name: right
screw_thread: CCW-M3


#####################################################################
# Fan Control
#####################################################################

## HEF - Toolhead PCB
[heater_fan hotend_fan]
pin: pth:PC7        #If it's not right, swap it with hotend_fan.
tachometer_pin: pth:PA4
tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
fan_speed: 0.7

## PCF - Toolhead PCB
[fan]
pin: pth:PA13        #If it's not right, swap it with hotend_fan.
tachometer_ppr: 2
tachometer_pin: pth:PA5
max_power: 1.0
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
cycle_time: 0.010

[controller_fan mcu_fan1]
pin: gpio17
max_power: 0.8
shutdown_speed: 0
kick_start_time: 1
fan_speed: 0.8
idle_timeout: 5
stepper: stepper_x, stepper_y, stepper_z

[controller_fan mcu_fan2]
pin: gpio18
max_power: 0.5
shutdown_speed: 0
kick_start_time: 1
fan_speed: 0.5
idle_timeout: 5
stepper: stepper_x, stepper_y, stepper_z

#####################################################################
#   LED Control
#####################################################################

[output_pin pcb_led]
pin: !pth:PD1

[neopixel _indicator]
pin: gpio24
chain_count: 5
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: pth:PB15
spi_software_sclk_pin: pth:PA1
spi_software_mosi_pin: pth:PA2
spi_software_miso_pin: pth:PA6

[resonance_tester]
accel_chip: adxl345
probe_points:
    85, 85, 20

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 92.5,92.5
speed: 50.0
z_hop: 5
home_y_before_x: true

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 5,170
screw1_name: fl
screw2: 180,170
screw2_name: fr
screw3: 90,20
screw3_name: bm


#####################################################################
#   Buzzer
#####################################################################

## Buzzer
[output_pin _buzzer]
pin: gpio22
value: 0
shutdown_value: 0

#####################################################################
#   Additional Sensors
#####################################################################

#####################################################################
#   Bed Adjustment Routines
#####################################################################
# [bed_tilt]
# points:
#   0, 20
#   116, 20
#   116, 106
#   0,  106
# speed: 150
# horizontal_move_z: 4

[bed_mesh]
speed: 50
horizontal_move_z: 5
horizontal_z_clearance: 0.4
# mesh_min: 15, 8
# mesh_max: 175,175
mesh_min: 8, 8
#mesh_max: 175,175
mesh_max: 175,175
# more mesh PPS allows more exact bicubic curve expression
# 285 / 10 / 5 = 7.1mm mesh resolution
mesh_pps: 5
probe_count: 12, 12
algorithm: bicubic
move_check_distance: 3.0
split_delta_z: 0.01
bad_probe_retries: 8
bad_probe_strategy: circle

[display_status]
[pause_resume]
[include sensorless_homing_pv3.cfg]
[include positron_macros.cfg]
[include load_cell_macros.cfg]
[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [load_cell_probe]
#*# counts_per_gram = 477.76818
#*# reference_tare_counts = -29895
#*# drift_filter_cutoff_frequency = 0.3
#*# pullback_distance = 0.30298165206628813
#*# decompression_angle = 67.0
#*#
#*# [stepper_z]
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 255.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 32.579
#*# pid_ki = 4.688
#*# pid_kd = 56.606
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 95.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 67.966
#*# pid_ki = 3.684
#*# pid_kd = 313.491
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 39.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 67.0
#*#
#*# [bed_mesh PCB-80-Load-Cell]
#*# version = 1
#*# points =
#*# 	-0.285903, -0.237571, -0.185773, -0.142947, -0.129351, -0.124339, -0.130854, -0.144300, -0.179457, -0.223639, -0.276363, -0.321428
#*# 	-0.245570, -0.187322, -0.145710, -0.095707, -0.078062, -0.078984, -0.076597, -0.085867, -0.113272, -0.161830, -0.216421, -0.265384
#*# 	-0.226988, -0.186332, -0.127808, -0.086313, -0.065060, -0.049699, -0.043534, -0.061487, -0.096707, -0.132412, -0.191613, -0.222004
#*# 	-0.200495, -0.138557, -0.086118, -0.044244, -0.015440, 0.002834, 0.012740, -0.005258, -0.030291, -0.087773, -0.130288, -0.184559
#*# 	-0.175859, -0.117200, -0.061512, -0.012332, 0.024065, 0.045928, 0.058439, 0.053257, 0.006838, -0.044091, -0.096986, -0.138143
#*# 	-0.145733, -0.081207, -0.017584, 0.020205, 0.036320, 0.055065, 0.078301, 0.062563, 0.040992, 0.002576, -0.057084, -0.107651
#*# 	-0.142987, -0.087719, -0.032598, 0.025717, 0.071007, 0.110145, 0.135308, 0.130723, 0.084168, 0.027751, -0.036624, -0.093495
#*# 	-0.144165, -0.084193, -0.020042, 0.025388, 0.059232, 0.080637, 0.098127, 0.085865, 0.054762, 0.011607, -0.031236, -0.087694
#*# 	-0.139393, -0.088659, -0.023567, 0.010299, 0.058383, 0.083385, 0.096002, 0.075852, 0.056256, 0.001488, -0.052258, -0.094778
#*# 	-0.122427, -0.075122, -0.023503, 0.028460, 0.052782, 0.076378, 0.073438, 0.072721, 0.049271, 0.007022, -0.050174, -0.098508
#*# 	-0.098271, -0.064097, -0.006550, 0.033866, 0.058570, 0.059215, 0.054632, 0.050290, 0.022046, -0.021295, -0.080111, -0.113973
#*# 	-0.075911, -0.051630, 0.001694, 0.040740, 0.064036, 0.063552, 0.053929, 0.043354, 0.016017, -0.027556, -0.088669, -0.121498
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 174.98
#*# min_y = 8.0
#*# max_y = 174.98
